@media only screen and (min-width:1024px) {
  span.menu {
    border-radius: 1.1em;
    background-color: lightcoral;
    font-size: 2em;
  }

  div.container {
    display: flex;
    display: flex;
  }
  
  div.skills_1 {
    flex: 1;
    text-align: center;
  }
  
  div.skills_2 {
    flex: 1;
    text-align: center;
  }
  
  div.skills_3 {
    flex: 1;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  span.menu {
    border-radius: 1em;
    background-color: lightcoral;
    font-size: 1em;
  }

  div.skills_1 {
    text-align: center;
  }

  div.skills_2{
    text-align: center;
  }

  div.skills_3 {
    text-align: center;
  }
}

h1 {
  text-align: center;
  color: rgb(36, 148, 201);
}